.overview{
    background-image: url("public/aggertalsperre.jpg_667295446.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}