.webcamCapture {
    position: relative;
    width: 100%;
}
@media only screen and (max-device-width : 640px) {
    .webcamCapture {
        position:fixed;
        height:100%;
        width:100%;
    }
}
@media only screen and (max-device-width: 768px) {
    .webcamCapture {
        position:fixed;
        height:100%;
        width:100%;
    }
}