// Landing Page
@use "../../styles/colors";

.landing{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  justify-content: start;
  background: linear-gradient(rgba(255, 255, 255, 0) 60%, rgb(0, 0, 0)86%);

  video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  h2{
    color: black;
    max-width: 260px;
    text-align: left;
    margin: 20px;
  }
  span{
    color: colors.$highlight;
  }

  button{
    margin-top: auto;
    background-color: transparent;
    border: none;

    svg{
      fill: white;
      transform: rotate(-90deg);
    }
  }:active{
    background-color: rgba(255,255,255, 0.3);
     }
}


