.overlay{
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px;

  button{
    background-color: inherit;
    border: none;
  }
  p{
    max-width: 200px;
    text-align: left;
    margin-bottom: 0;
  }
}